* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.site-banner {
  margin-top: -8rem;
  padding: 8rem 0;
  -webkit-transform: skew(0deg, 10deg);
          transform: skew(0deg, 10deg);
  z-index: 2;
}

.site-banner .site-banner_inner {
  -webkit-transform: skew(0deg, -10deg);
          transform: skew(0deg, -10deg);
}

nav {
  z-index: 1;
}

header {
  background-color: #191a1d;
}

header .navbar {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  border-bottom: 0.15rem solid #707279;
}

header .navbar-brand {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
}

header .nav-link {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 0.75rem;
}

@media screen and (max-width: 1000px) {
  .navbar {
    padding-left: 0;
  }
}

.site-banner {
  background-color: #191a1d;
  color: white;
  padding-bottom: 1rem;
  font-family: 'Roboto', sans-serif;
}

.site-banner .btn-custom {
  background-color: #4b6cc1;
  border-color: #4b6cc1;
  border-radius: 2rem;
}

@media screen and (min-width: 1001px) {
  .site-banner {
    padding-top: 5rem;
  }
  .site-banner .col-content-txt {
    padding: 0;
    padding-top: 10rem;
  }
  .site-banner .col-content-img {
    padding-top: 6rem;
    width: 80%;
  }
  .site-banner .banner-content-img {
    text-align: center;
  }
  .site-banner .banner-content-img .banner-img-bg {
    background-color: #111215;
  }
  .site-banner .banner-content-img .banner-img {
    padding: 2rem 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .site-banner .site-banner_inner {
    padding-left: 12px;
    padding-top: 2rem;
    margin-left: 0;
  }
  .site-banner .site-banner_inner .btn-custom {
    margin-bottom: 1.5rem;
  }
  .site-banner .site-banner_inner .banner-content-img {
    text-align: center;
  }
  .site-banner .site-banner_inner .banner-content-img .banner-img-bg {
    background-color: #111215;
  }
  .site-banner .site-banner_inner .banner-content-img .banner-img {
    padding: 1rem 1rem;
  }
}

@media screen and (min-width: 1001px) {
  .featured-project_inner {
    padding-left: 0;
    padding-right: 15rem;
  }
  .featured-project_inner .ftp-head {
    margin-top: 1.5rem;
    font-size: 3rem;
    color: #919191;
    border-bottom: 0.15rem solid #707279;
  }
  .feature-project-img {
    width: 80%;
    margin-top: 1rem;
    border: gray solid 0.7rem;
    border-radius: 1rem;
  }
  .tools {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .tools #head-tools {
    font-size: 2rem;
  }
  .tools .tool-img {
    width: 13%;
  }
}

@media screen and (min-width: 501px) and (max-width: 1000px) {
  .featured-project_inner {
    padding-left: 0;
    padding-right: 15rem;
  }
  .featured-project_inner .ftp-head {
    margin-top: 1.5rem;
    font-size: 2rem;
    color: #919191;
    border-bottom: 0.15rem solid #707279;
  }
  .feature-project-img {
    width: 80%;
    margin-top: 1rem;
    border: gray solid 0.7rem;
    border-radius: 1rem;
  }
  .tools #head-tools {
    font-size: 1.4rem;
  }
  .tools .tool-img {
    width: 7%;
  }
}

@media screen and (max-width: 500px) {
  .featured-project_inner {
    padding-right: 5rem;
  }
  .featured-project_inner .ftp-head {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    color: #919191;
    border-bottom: 0.12rem solid #707279;
  }
  .feature-project-img {
    width: 80%;
    margin-top: 1rem;
    border: gray solid 0.7rem;
    border-radius: 1rem;
  }
  .tools {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .tools #head-tools {
    font-size: 0.8rem;
  }
  .tools .tool-img {
    width: 13%;
  }
}

@media screen and (min-width: 1001px) {
  .btn-custom-submit {
    color: white;
    border-color: #4b6cc1;
    background-color: #4b6cc1;
  }
  .fa-icon {
    font-size: 3rem;
    color: #4b6cc1;
  }
  #head-contacts {
    margin: 0;
  }
}

@media screen and (min-width: 501px) and (max-width: 1000px) {
  .btn-custom-submit {
    color: white;
    border-color: #4b6cc1;
    background-color: #4b6cc1;
  }
  .fa-icon {
    font-size: 3rem;
    color: #4b6cc1;
  }
  #head-contacts {
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  .btn-custom-submit {
    color: white;
    border-color: #4b6cc1;
    background-color: #4b6cc1;
  }
  .fa-icon {
    font-size: 1.5rem;
    color: #4b6cc1;
  }
  .contact #head-contacts {
    margin: 0;
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=main.css.map */